<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <title>BookTime</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">BookTime</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li
            class="nav-item {% if request.path == '/about/' %} active {% endif %}"
          >
            <a class="nav-link" href="{% url 'about' %}">About us</a>
          </li>
          <li
            class="nav-item {% if request.path == '/contact/' %}active{% endif %}"
          >
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
          <li
            class="nav-item {% if request.path == '/products/' %}active{% endif %}"
          >
            <a class="nav-link" href="{% url 'products' 'all' %}">Products</a>
          </li>
          <li
            class="nav-item {% if request.path == '/signup/' %}active{% endif %}"
          >
            <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
          </li>
          <li
            class="nav-item {% if request.path == '/login/' %}active{% endif %}"
          >
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% if request.basket %}
    <button type="button" class="btn btn-primary mx-5 my-3">
      Items in Basket
      <span class="badge text-bg-secondary py-2"
        >{{ request.basket.count }}</span
      >
    </button>
    {% endif %}

    <div class="mx-5">{% block content%} {% endblock %}</div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %} {% endblock js %}
  </body>
</html>
